<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.accengage.samples.beacons" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".activities.MainActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/title_activity_coffee_maker"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.BeaconDetectorActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme" />

        <receiver
            android:name=".BeaconReceiver"
            android:permission="com.accengage.samples.beacons.permission.A4S_SEND" >
            <intent-filter>
                <action android:name="com.ad4screen.sdk.intent.action.TRIGGER" />
                <category android:name="com.ad4screen.sdk.intent.category.BEACON_NOTIFICATIONS" />
            </intent-filter>
        </receiver>

    </application>

</manifest>