<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.a4s.a4sintegration" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- [A4S-SDK[ -->
        <service
            android:name="com.ad4screen.sdk.A4SService"
            android:label="A4S Service"
            android:process=":A4SService" >
            <meta-data
                android:name="com.ad4screen.partnerid"
                android:value="comptedemosdk2d0e8680a7acc7f" />
            <meta-data
                android:name="com.ad4screen.privatekey"
                android:value="a8161ed9ef9fb146c1e252dee2ffaf0a84039092" />
            <meta-data
                android:name="com.ad4screen.logging"
                android:value="true" />
        </service>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
